body {
    background-color: #1d1d1d;
    color: white;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

#info {
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
